////////////// COLORES
$color_login: #3b49df;
$color_create_account_dark: #323ebe;

$color_logo_light: rgba(0,0,0,0.8);
$color_logo: black;

$color_background_icon: #f6f6f6;

$color_background:#eef0f1;


$boton_dark_left: #e2e4e5;

/////////////////// fuentes
$font_logo:'Staatliches', cursive;
$font_create_account: 'Roboto', sans-serif;




/////////// TAMAÑOS DE PANTALLA PARA MEDIA QUERIES
$telefono : 480px;
$tablet: 768px;
$desktop: 1024px;

/************* SIZE FOR THE HEADER (ICONS AND BUTTONS) ******/
$height_in_header: 40px;
$height_header: 60px;


/*********** FUENTES DE GOOGLE FONT ****************/
$font_logo:'Staatliches', cursive;
$font_create_account: 'Roboto', sans-serif;